* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(239, 214, 23, 0.033);
}
#container {
  margin: 50px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

#container h1 {
  margin-bottom: 10px;
}

#calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}
.buttons {
  padding: 30px 0;
  margin: 5px;
  border: 1px solid rgb(110, 110, 110);
  border-radius: 5px;
  width: 29%;
  flex-grow: 1;
  font-size: large;
}

.buttons:hover.buttons:hover {
  background-color: rgb(43, 43, 43);
  color: white;
}

#result-container {
  display: flex;
  width: 60%;
  margin: 30px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(111, 111, 111);
}

#result-word {
  margin-left: 5px;
}
